
</div>
<div class="footer-padding"></div>
  <a href="/compose">
    <div class="compose">
      <i class="fas fa-plus-circle fa-5x"></i>
    </div>
  </a>
  <div class="footer">
    <p>Made with ❤️ by The App Brewery</p>
  </div>
</div>
</body>
</html>
