<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- bootstrap -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
		<!-- fontawesome -->
		<link
			rel="stylesheet"
			href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
			integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/styles.css" />
		<title>Document</title>
	</head>

	<body>
		<nav class="navbar navbar-default navbar-light bg-light">
			<div class="navbar-header">
				<p class="navbar-brand">DAILY JOURNAL</p>
			</div>
			<ul class="nav justify-content-end">
				<!-- 6 -->
				<li class="nav-item" id="home">
					<a class="nav-link" href="/">HOME</a>
				</li>
				<li class="nav-item" id="about">
					<a class="nav-link" href="/about">ABOUT US</a>
				</li>
				<li class="nav-item" id="contact">
					<a class="nav-link" href="/contact">CONTACT US</a>
				</li>
			</ul>
		</nav>
		<div class="container-fluid">
