<%- include('partials/header') -%>
<h1>Compose</h1>
<form action="/compose" method="POST">
	<div class="form-group">
		<label for="composeTitle">Title</label>
		<input
			class="form-control"
			type="text"
			id="composeTitle"
			name="title"
			placeholder="Compose your blog"
		/>
		<label for="composeContent">Content</label>
		<textarea
			rows="5"
			class="form-control"
			name="content"
			id="composeContent"
			row="10"
			placeholder="Compose your blog"
		></textarea>
		<button class="btn btn-primary" type="submit" name="">Publish</button>
	</div>
</form>
<%- include('partials/footer') -%>
